* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    background: var(--background);
    color: var(--font);
    font-size: 14px;
}

body {
    position: relative;
    max-width: 412px;
    width: 100vw;
    margin: 30px auto;
    border: 3px solid #0003;
    border-radius: 28px;
}

h1 {
    margin-top: 20px;
    font-weight: normal;
}

h2 {
    margin: 13px 0;
    font-weight: normal;
}

.content p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    width: 75%;
    margin: 17px auto;
    border: none;
    border-top: 1px solid var(--gray-1);
}

button {
    padding: 10px 20px;
    margin: 15px 0;
    border-radius: 999px;
    border: none;
}

button:hover {
    cursor: pointer;
}

button.outline:hover,
button.outline:active,
button.fill {
    background: var(--primary-3);
    color: var(--white);
    border: 1px solid var(--primary-4);
}

button.fill:hover,
button.fill:active,
button.outline {
    background: var(--primary-0);
    color: var(--black);
    border: 1px solid var(--primary-4);
}

.content {
    margin: 15px;
}

.visibleArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    outline: 3px solid #0001;
    border-radius: 28px;
    aspect-ratio: 9 / 16;
    user-select: none;
    z-index: -1;
}

.systemtop {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 10px;
    padding: 3px;
    background: #0001;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.topbar {
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px #0002;
}

.topbar p {
    margin: 0 !important;
}

.cardlist .item {
    display: flex;
    position: relative;
    height: 73px;
    padding: 10px;
}

.cardlist .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    border-top: 1px solid #0005;
}

.cardlist .item:last-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #0005;
}

.cardlist .item .icon {
    position: relative;
    width: 20% !important;
}

.cardlist .item .itemcontent {
    overflow: hidden;
    width: 80% !important;
    margin: 0 10px 0 0;
    padding: 0;
}

.cardlist .item .icon + .itemcontent {
    margin: 0 0 0 10px;
}

.cardlist .item .itemcontent h4 {
    color: var(--primary-4);
    margin-bottom: 3px;
}

.cardlist .item > * {
    padding: 10px;
}

.cardlist .item .icon * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.tabs {
    padding: 5px;
    background: var(--primary-0);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.tabs a {
    color: var(--primary-4);
    padding: 5px 10px;
}

.tabs i {
    display: inline-block;
    padding: 5px 10px 3px;
    font-size: 18px;
}

.tabs span {
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
}*/
